body {
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quotescontainer {
  background-color: #E5E7EB;
}

.quote {
  color: #1F2937;
  font-style: italic;
  font-size: 36px;
  font-weight: lighter;
  text-align: justify;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.quotescontainer {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882F6;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 150px;
  border-radius: 0.5em;
}

.contacttext {
  color: white;
  font-weight: 800;
  display: flex;
  flex-direction: column;
}

.quotespan {
  font-weight: normal; 
  color: #E5E7EB;
}

p {
  text-align: end;
  font-style: normal;
  font-weight: bold;
}

.quotebutton {
  background-color: #3882F6;
  height: 35px;
  width: 120px;
  font-size:medium;
  border-radius: 0.5em;
  border-style: solid;
  font-weight: 800;
  border-color: white;
  color: white;
}

.header,
.footer {
  background-color: #1F2937;
  padding: 24px;
  color: #E5E7EB;
}

.footer {
  text-align: center;
}

.footerspan {
  content: "\00A9";
}

.headertop {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.headerlogo {
  /*making circle logo for more stylish look*/
  border-style: double;
  border-color: #E5E7EB;
  border-radius: 50%;
  width: 230px;
  height: 150px;
}

a {
  /* this removes the line under links */
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.headertopleft, .headertopright {
  display: flex;
  align-items: center;
  gap: 16px;
}

.headerphoto {
  border-color: 1px solid white;
  height: 100px;
  width: 100px;
}

.maincontent {
  text-align: center;
  display: flex;
  justify-content: center;
}

.maincontainer {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.altcontainer {
  max-width: 200px;
}
  
.maincontainerimages {
  width: 100px;
  height: 100px;
  border: 4px solid #3882F6;
  border-radius: 1em;
  margin-top: 32px;
}
  
.maintitle {
  font-size: 36px; 
  font-weight: 800;
  color: #1F2937;
  margin-bottom: 32px;
  margin-top: 32px;
}
  
.text {
  width: 200px;
  height: auto;
}